<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK Blog</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">
                <img src="../static/favicon.png" alt="BK Blog" class="logo-img">
            </a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/login" id="login-link">Login</a></li>
                <li><a href="/profile" id="profile-link" style="display:none;">Profile</a></li>
            </ul>
        </div>
    </nav>
    <!-- Form to create a new post -->
    <div class="create-post-section">
        <form class="create-post-form" id="create-post-form" enctype="multipart/form-data">
            <div class="username-display">
            <span  id="username-display"></span>
            </div>
            <div class="input-create-description-container">
            <input class="input-create-description" id="content" placeholder="Share something..." required></input>
            </div>
            <input class="input-create" type="file" id="image" accept="image/*" required>
            <button class="input-create" type="submit">Create Post</button>
        </form>
    </div>

    <!-- Section to display posts -->
    <div class="posts-section">
        <div id="posts"></div>
    </div>

    <script src="../static/script.js"></script>
    <script>
        // JavaScript to set the username dynamically
        const username = JSON.parse(localStorage.getItem("user")).username; // Replace this with the actual method to get the username
        document.getElementById('username-display').innerText = username;
    </script>
    <script>
        // Check if the user is logged in and update the navbar accordingly
        document.addEventListener('DOMContentLoaded', function() {
            const user = JSON.parse(localStorage.getItem('user'));
            const profileLink = document.getElementById('profile-link');
            const loginLink = document.getElementById('login-link');
    
            if (user) {
                profileLink.style.display = 'block'; // Show profile link
                loginLink.style.display = 'none'; // Hide login link
            }
        });
    </script>
</body>
</html>
