<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Social Media</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">BK Blog</a>
            <ul class="nav-links">
                <li><a href="#" onclick="fetchPosts()">Home</a></li>
                <li><a href="#" onclick="showCreatePostForm()">Create Post</a></li>
                <li><a href="#" onclick="showAboutPage()">About</a></li>
            </ul>
        </div>
    </nav>
    <!-- Form to create a new post -->
    <div class="create-post-section">
        <form class="create-post-form" id="create-post-form" enctype="multipart/form-data">
            <input class="input-create" type="text" id="title" placeholder="Title" required>
            <input class="input-create" type="text" id="author" placeholder="Author" required>
            <textarea class="input-create" id="content" placeholder="What's on your mind?" required></textarea>
            <input class="input-create" type="file" id="image" accept="image/*" required>
            <button class="input-create" type="submit">Create Post</button>
        </form>
    </div>

    <!-- Section to display posts -->
    <div class="posts-section">
        <div id="posts"></div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
